body{
    text-align: center;
    font-family:'Roboto', sans-serif;

}
.container{
    display: block;
    width: 570px;
    margin: 0 auto;
}
.img{
    width:200px;
    border-radius: 50%;
    border: 2px solid black;
}